<%- include('head.ejs') %>
  <div id="main">
    <h2>Monitor a new API</h2>
    <form>
      <table>
        <tbody>
          <tr>
            <td class="input-label"><label for="displayName">api name:</label></td>
            <td class="input-main"><input type="text" name="displayName" id="displayName"></td>
          </tr>
          <tr>
            <td class="input-label"><label for="url">url:</label></td>
            <td class="input-main"><input type="text" name="url" id="url"></td>
          </tr>
          <tr>
              <td class="input-label"><label for="method">method:</label></td>
              <td class="input-main">
                <select id="method">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                </select>
                <span class="expand-request-menu">
                  <button class="expand-request-btn" type="button" data-type="params">params</button>
                  <button class="expand-request-btn" type="button" data-type="headers">headers</button>
                  <button class="expand-request-btn" type="button" data-type="body">body</button>
                </span>
              </td>
          </tr>
          <tr class="expandable-row" data-type="params" style="display:none;">
            <td class="input-label"><label for="param-key-1">params:</label></td>
            <td class="input-main">
              <div class="multi-field-container">
                <input class="key-value-input" type="text" name="params-key-1" id="params-key-1">&nbsp;:&nbsp;<input class="key-value-input" type="text" name="params-value-1" id="params-value-1">
              </div>
              <span><button class="add-field-btn" type="button" data-type="params">+</button></span>
            </td>
          </tr>
  
          <tr class="expandable-row" data-type="headers" style="display:none;">
            <td class="input-label"><label for="param-key-1">headers:</label></td>
            <td class="input-main">
              <div class="multi-field-container">
                <input class="key-value-input" type="text" name="headers-key-1" id="headers-key-1">&nbsp;:&nbsp;<input class="key-value-input" type="text" name="headers-value-1" id="headers-value-1">
              </div>
              <span><button class="add-field-btn" type="button" data-type="headers">+</button></span>
            </td>
          </tr>

          <tr class="expandable-row" data-type="body" style="display:none;">
            <td class="input-label"><label for="param-key-1">body:</label></td>
            <td class="input-main">
              <div class="multi-field-container">
                <input class="key-value-input" type="text" name="body-key-1" id="body-key-1">&nbsp;:&nbsp;<input class="key-value-input" type="text" name="body-value-1" id="body-value-1">
              </div>
              <span><button class="add-field-btn" type="button" data-type="body">+</button></span>
            </td>
          </tr>
          <tr>
            <td class="input-label"><label for="email-1">email alerts:</label></td>
            <td class="input-main">
              <div class="multi-field-container">
                <input type="text" name="email-1" id="email-1" placeholder="send alerts to">
              </div>
                <span><button class="add-field-btn" type="button" data-type="email">+</button></span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-action-btns">
        <button type="button" id="test-api-btn" class="form-btn">Test Endpoint</button>
      </div>
    </form>

    <div id="api-test-section"> 
      <div id="test-section-content">  
        <h4>awaiting response:&nbsp;<span id="loading-dot-1">.</span><span id="loading-dot-2">.</span><span id="loading-dot-3">.</span></h4>
        <div id="initial-test-results"></div>
      </div>
      <div class="form-action-btns">
        <button class="form-btn" id="start-monitoring-btn" disabled>Start Monitoring</button>
        <button class="form-btn" id="initial-test-back-btn">Back</button>
      </div>  
    </div>
  </div>
  
  <%- include('end.ejs') %>