<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Uptime Monitor</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href=<%= '../css/' + pageName + '.css' %>>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Asap|Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>

<body>
    <div class="main-container">
        <div class="main-header">
            <h1>API Uptime Monitor</h1>
            <a href="/">Home</a>
            <a href="https://github.com/streleck/api-uptime-monitor/blob/master/README.md">About</a>
            <a href="/add">New</a>
        </div>
    