#main {
  background-color: white;
  color: black;
  font-size: 24px;
  text-shadow: none;
  border: 1px solid black;
  padding: 28px 20px 20px 20px;
  box-shadow: 3px 4px 2px rgba(0,0,0,0.3);
}
form {
  padding: 20px 40px 20px 20px;
}
table {
  width: 100%;
}
tr {
  height: 60px;
}
input {
  height: 22px;
  width: 98%;
  padding-left: 6px;
  font-size: 14px;
  border: 1px solid #aaa;
}
select {
  font-size: 16px;
  padding: 4px 4px 4px 8px;
  width: 80px;
}
#main h2{
  font-size: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(134, 100, 160);
  margin: 0 10px 0 10px;
  border-bottom: 1px solid rgb(134, 100, 160);
  margin-bottom: 20px;
  padding: 0 0 12px 20px;
}
.input-label {
  width: 120px;
  text-align: right;
  padding-right: 10px;
  color: rgb(134, 100, 160);
  font-family: 'Asap', sans-serif;
  font-size: 21px;
}
.input-main {
  width: 600px;
}
.expand-request-menu {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: available;
}
.expand-request-btn {
  background-image: url("../images/triangle-collapsed.png");
  font-size: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 3px;
  padding-right: 20px;
  margin-left: 15%;
  background-color: white;
  border: none;
  cursor: pointer;
  color: rgb(134, 100, 160);
}
.expand-request-btn:hover {
  opacity: 0.7;
}
.multi-field-container {
  width: calc(100% - 35px);
  display: inline-block;
}
.key-value-input {
  width: 46%;
}
.add-field-btn, .add-email-btn{
  height: 28px;
  width: 28px;
  background-image: url('../images/purple-fade-background.png');
  background-size: 200% 100%;
  border: none;
  color: rgba(238, 255, 142, 0.8);
  font-size: 16px;
  font-weight: bold;
  background-position-x: center;
  cursor: pointer;
}
.add-field-btn:hover {
  color: rgba(238, 255, 142, 1.0);
  opacity: 0.9;
}
.form-action-btns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.form-btn {
  background-image: url("../images/purple-fade-background.png");
  background-size: 200% 100%;
  border: none;
  color: rgba(238, 255, 142, 0.8);
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}
.form-btn:hover {
  color: rgba(238, 255, 142, 1.0);
  opacity: 0.9;
}
.form-btn[disabled]{
  background-image: url('../images/gray-fade-background.png');
  color: #ccc;
}
.form-btn[disabled]:hover{
  color: #ccc;
  opacity: 1.0;
}
.form-action-btns > button {  
  margin-top: 20px;
  margin-left: 14px;
}
#api-test-section {
  display: none;
  padding: 0 40px 20px 20px;
}
#api-test-section h4{
  color: rgb(134, 100, 160);
  font-family: 'Asap', sans-serif;
  font-size: 21px;
  font-weight: normal;
}
#test-section-content {
  margin: 0 0 10px 30px;
}
#test-section-content h4>span {
  color: rgb(211, 160, 250);
}
#initial-test-results p {
  font-size: 16px;
}
p.error{
  color: red;
}
#test-section-content span {
  font-weight: bold;
}

