table {
  border: 1px solid black;
  border-collapse: collapse;
  box-shadow: 2px 3px 1px rgba(0,0,0,0.3);
  background-color: white;
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  font-family: 'Asap', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}
h2 {
  color: lightgreen;
  font-family: 'Asap', sans-serif;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  margin: 0 0 5px 0;
}
.section-header {
  display: flex;
  flex-direction: row;
}
.section-header-btn {
  color: rgba(238, 255, 142, 0.8);
  font-size: 13px;
  border: 1px solid rgba(238, 255, 142, 0.8);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  margin: 5px 0 0 15px;
  height: 20px;
}
.section-header-btn:hover {
  background-color: white;
  color: rgb(40,40,0);
  opacity: 0.5;
}
.section-header select {
  background-color: transparent;
  color: rgb(238, 255, 142);
  height: 20px;
  border-radius: 2px;
  margin: 4px 0 0 10px;
}
.section-header option {
  background-color: rgb(84, 114, 173)
}
tbody {
  max-height: 300px;
  overflow-y: scroll;
  color: rgb(125, 90, 150);
}
tr, th, td {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  max-width: 240px;
  overflow: hidden;
}
.table-edit {
  width: 50px;
  padding: 10px;
}
.table-key{
  width: 30%;
}
.purple-btn {
  background-image: url('../images/purple-fade-background.png');
  background-size: 200% 100%;
  border: none;
  color: rgba(238, 255, 142, 0.8);
  background-position-x: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(146, 112, 112, 0.6);
}
.purple-btn:hover {
  color: rgba(238, 255, 142, 1.0);
  opacity: 0.9;
}
.edit-field-btn, .enter-field-btn {
  height: 26px;
  width: 55px;
  padding: 0 11px 0 10px;
  font-size: 14px;
  margin-right: 1px;
}
.edit-field-btn[disabled]{
  background-image: url('../images/gray-fade-background.png');
  color: #ccc;
}
.edit-field-btn[disabled]:hover{
  opacity: 1.0;
  color: #ccc;
}
.x-btn {
  height: 22px;
  width: 22px;
  margin-right: 6px;
  position: relative;
  top: 2px;
}
.hidden {
  display: none;
}
.raw-stat {
  font-weight: bold;
}
.edit-value {
  padding: 0 10px 0 5px;
}
.edit-value input {
  width: calc(100% - 28px);
  height: 20px;
  font-size: 18px;
  margin: 0;
  padding-left: 5px;
}
.edit-field-container {
  display: flex;
  flex-direction: row;
}